*{
    box-sizing: border-box;
}
html,body{
    padding: 0px;
    margin: 0px;
}
body{
  color: whitesmoke;
    /* position: absolute; */
}

@media screen and (min-width: 500px) {
    
/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>| HEADER SECTION |>>>>>>>>>>>>>>>>>>>>>>>>>>*/
header{
    width: 100%;
    background-color: rgb(208, 197, 162)r;
    height: 500px;
    animation-name: headSlider;
    background-image: url(slidePics/pic0.jpg);
    animation-duration: 55s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-size: 100%;
    background-repeat: no-repeat;
}
@keyframes headSlider{
    0%{
        background-image: url(slidePics/pic0.jpg);
    }
    25%{
        background-image: url(slidePics/pic1.jpg);
    }
    50%{
        background-image: url(slidePics/pic2.jpg);
    }
    75%{
        background-image: url(slidePics/pic3.jpg);
    }
    100%{
        background-image: url(slidePics/pic0.jpg);
    }
}
header .container{
    width: 100%;
    height: 100%;
    position: absolute;
}
header .container #header-1{
    width: 100%;
    height: 85px;
    border: 1px solid whitesmoke;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .6s;
    position: fixed;
    background-color: aliceblue;
    top: 0px;
    /* box-shadow: 10px 5px 5px #173459; */
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}

header .container #header-1 .name{
    margin-left: 2%;
}
header .container #header-1 .name img {
    width: 150px;
    cursor: pointer;
}
/*.....Menue.......*/
header .container #header-1 .menue{
    width: 60%;
    height: auto;
    margin-right: 50px;
    /* border: 1.5px solid navy; */
    transition: all .6s;
}
header .container #header-1 .menue nav{
    width: 100%;
    height: 100%;
    opacity: 1;
    transition: all 1s;
    text-align: center;
}
header .container #header-1 .menue nav a{
    /* display: block; */
    padding: 8px;
    padding-left: 12px;
    padding-right: 12px;
    border-bottom: 2px solid rgb(0, 18, 12);
    color: rgb(0, 18, 12);
    border-radius: .3em;
    margin-left: 40px;
    text-decoration: none;
    cursor:pointer;
    transition: all .2s;
}
header .container #header-1 .menue nav a:hover {
    border-bottom: 2px solid goldenrod;
    background-color: rgb(0, 39, 26);
    color: whitesmoke;
}
header .container #header-1 .menue .slashes {
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin: 0 auto;
    margin-right: 0%;
    display: none;
    /* justify-content: center;
    align-items: center;
    flex-direction: column; */
}
header .container #header-1 .menue .slashes .slash{
    width: 90%;
    border: 3px solid;
    margin-top: 5px;
    transition: all .6s;
    border-radius: .5em;
    display: none;
}
header .container #header-1 .menue .slashes #slash1{
    border-color: red;
    /* transform: rotate(-45deg); */
     position: relative;
     display: none;
    /* top: 5px; */ 
}
header .container #header-1 .menue .slashes #slash2{
    border-color: blue;
    /* transform: rotate(45deg); */
    position: relative;
    display: none;
    /* bottom: 5px; */ 
}

header .container #header-2{
    width: 100%;
    height: auto;
    margin-top:70px;
    /* background: red; */
    transition: all .3s;
    /* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20); */
}
header .container #header-2 p{
    width:  auto;
    margin-left: 8%;
    font-size: 25px;
    position: relative;
    top: 100px;
    color: rgb(5, 170, 93);
    display: none;
}
header .container #header-2 h3{
    width:  auto;
    margin-left: 8%;
    position: relative;
    top: 100px;
    /* box-shadow: 10px 5px 5px #173459; */
    font-size: 40px;
    color:whitesmoke;
}


header .container #header-2 a{
    position: relative;
    left: 8%;
    top: 120px;
}
header .container #header-2 a button {
    padding: 15px;
    color: rgb(0, 18, 12);
    border: none;
    outline: none;
    /* position: relative;
    top: 10px; */
    font-weight: bolder;
    border-radius: .3em;
    background-color: transparent;
    border-bottom:3px solid rgb(0, 18, 12);
    transition: all .5s;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
header .container #header-2 a button:hover{
    background-color: rgb(0, 39, 26);
    color:rgb(202, 108, 0);
    cursor: pointer;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MAIN SECTION>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
main{
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgb(250, 248, 230), rgb(242, 234, 167), rgb(181, 187, 105));
    color: rgb(0, 18, 12);

}
main .wrap {
    width: 100%;
    height: auto;
}
main .wrap .intro{
    width: 70%;
    animation: introAppear linear;
    animation-timeline: view();
    animation-range: 0 cover 40%;
}
@keyframes introAppear {
    from {
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
main .wrap .intro h3{
    margin-left: 5%;
    font-size: 30px;
    /* color: rgb(0, 87, 216); */
    color: rgba(199, 84, 161, 0.781);
    /* background-color: rgb(187, 154, 91); */
    position: relative;
    top:20px;

}
main .wrap .intro p{
    margin-left: 5%;
    font-size: 14.5px;
    color: rgb(0, 18, 12);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main .wrap .focus{
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    width: 100%;
    flex-direction: row;
}
main .wrap .focus .img{
    height: 400px;
    display: flex;
    background-image: url(slidePics/pic0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    justify-content:flex-end;
    border-radius: .2em;
    animation: focusAppear linear;
    animation-timeline: view();
    animation-range: 0 cover 40%;
}
main .wrap .focus .ltr {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 100px;
}
main .wrap .focus .ltr .img2 {
    margin-left: 80px;
}
main .wrap .focus .ltr .img {
    margin-right: 80px;
    width: 1400px;
}
main .wrap .focus .ltr .last {
    margin-right: 80px;
    width: 1400px;
}
main .wrap .focus .rtl {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}
main .wrap .focus .rtl .img {
    margin-left: 10px;
    width: 1400px;
}

main .wrap .focus .rtl .img2 {
    margin-left: 150px;
}
main .wrap .focus .ltr
main .wrap .focus .img2 {
    
}
@keyframes focusAppear {
    from {
        opacity: 0;
        scale: .5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}

main .wrap .focus .img a{
    margin: 10px;
}
main .wrap .focus .img a button{
    background-color: rgb(0, 18, 12);
    color: rgb(202, 108, 0);
    cursor: pointer;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: .5em;
}
main .wrap .focus .img a button:hover{
    background-color: rgb(0, 39, 26);
    color:rgb(202, 108, 0);
    cursor: pointer;
}
main .wrap .focus h4{
    text-align: center;
    font-size: 40px;
    /* position: absolute; */
    /* top: -20px; */
    /* padding: 30px; */
    color: rgb(1, 119, 109);

}
main .wrap .focus h3{
    margin-left: 2%;
    font-size: 23px;
    color: rgb(0, 18, 12);
}
main .wrap .focus p{
    margin-left: 2%;
    text-align: left;
    font-size: 14px;
    color: rgb(0, 18, 12);
    width: 50%;
    animation: focusAppear linear;
    animation-timeline: view();
    animation-range: 0 cover 40%;
}


main .wrap .explore{
    width:  100%;
    position: relative;
    top: 120px;
}
main .wrap .explore h3 {
    text-align: center;
    font-size: 35px;
    color:rgb(1, 119, 109);
}


main .wrap .explore .img{
    width: 45%;
    height: 400px;
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(slidePics/pic3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    animation: exploreAppear linear;
    animation-timeline: view();
    animation-range: 0 cover 35%;
}
main .wrap .explore #txt{
    position: relative;
    background-image: none;
    bottom: 420px;
    width: 30%;
    height: 300px;
    left: 650px;
}
main .wrap .explore #txt p {
    color: rgb(0, 18, 12);
    text-align: center;
    font-size: 18px;
    animation: exploreTextAppear linear;
    animation-timeline: view();
    animation-range: 0 cover 30%;
}
@keyframes exploreTextAppear {
    from {
        opacity: .4;
        transform: translateX(100px);
    }
    to {
        opacity: .4;
        transform: translateX(0);
    }
}
@keyframes exploreAppear {
    from {
        opacity: .4;
        transform: translateX(-250px);
    }
    to {
        opacity: .4;
        transform: translateX(0);
    }
}
main .wrap .explore .img a{
    padding: 8px;
    margin: 5px;
    border-radius: .5em;
    border: 3px solid rgb(0, 18, 12);
    text-decoration: none;
    color: rgb(235, 204, 139);
    cursor: pointer;
    font-weight: bolder;
    transition: all .3s;
}
main .wrap .explore .img a:hover{
    cursor: pointer;
    background-color: rgb(0, 18, 12);
    color: rgb(235, 204, 139);

}


main .wrap .updates{
    width: 100%;
}
main .wrap .updates .img {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

main .wrap .sponsers{
    width: 90%;
    height: auto;
    margin: 0 auto;
    border-top: 5px solid;
    display:none;
}
main .wrap .sponsers h3{
    margin-left: 2%;
    font-size: 25px;
    color: rgb(0, 87, 216);
}
main .wrap .sponsers .componies{
    width: 100%;
    display: flex;
    flex-direction: row;
}
main .wrap .sponsers .componies #comp{
    width: 25%;
    height: 100px;
    border-radius: .5em;
    border: 2px solid;
    margin: 5px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: whitesmoke;
    box-shadow: 10px 5px 5px #173459;
    /* box-shadow: 10px 5px 5px 3px #173459; */
    /* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20); */
}
main .wrap .sponsers .componies #comp span{
    background-color: navy;
    text-align: center;
    font-size: 10px;
    width: 50%;
    display: none;
}
main .wrap .sponsers .componies .company_1{
    background-image: url(slidePics/pic0.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
main .wrap .sponsers .componies .company_2{
    background-image: url(slidePics/pic0.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
main .wrap .sponsers .componies .company_3{
    background-image: url(slidePics/pic0.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
main .wrap .sponsers .componies .company_4{
    background-image: url(slidePics/pic0.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>FOOTER SECTION >>>>>>>>>>>>>>>>>>>>>>>>*/
footer{
    width: 100%;
    background-color: rgb(0, 18, 12);
    color: rgb(235, 204, 139);
}
footer .Fcontent {
    width:  100%;
    margin-bottom: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer .Fcontent .FooterContent{
    border: 2px solid none;
    width: 20%;
    transition: .1s;
    /* box-shadow: 0 5px 10px 0 rgba(2, 94, 136, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20); */
    
}
footer .Fcontent .FooterContent:hover{
    box-shadow: 0 5px 10px 0 rgb(235, 204, 139), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    /* border: 2px rgb(235, 204, 139) ; */
}
footer .Fcontent .FooterContent h4 {
    color: rgb(235, 204, 139);
    font-size: 25px;
    /* text-decoration: underline; */
}
footer .Fcontent .FooterContent p {
    margin-left: 2%;
    /* background-color: goldenrod; */
    border-radius: .3em;
}
footer .Fcontent .FooterContent nav a{
    display: block;
    margin-left: 2%;
    width:40%;
    color: rgb(255, 0, 195);
    padding: 5px;
    text-decoration: none;
    margin-top: 5%;
    cursor: pointer;
}
footer .Fcontent .FooterContent nav a:hover{
    cursor: pointer;
}
footer .Fcontent .FooterContent nav a img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* border: 1px solid aqua; */
}
footer .Fcontent .FooterContent .nav a{
    display: block;
    margin-left: 2%;
    width:40%;
    padding: 5px;
    text-decoration: none;
    /* background-color: goldenrod; */
    /* background-color: rgb(1, 56, 107); */
    margin-top: 2%;
    color:rgb(235, 204, 139);
    cursor: pointer;
    border-radius: .2em;
    transition: all .1s;
}
footer .Fcontent .FooterContent .nav a:hover{
    color: rgb(0, 18, 12);
    background-color: whitesmoke;
    cursor: pointer;
}
}


@media screen and (width <= 470px) {

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>HEADER SECTION>>>>>>>>>>>>>>>>>>>>>>>>>>*/
header{
    width: 100%;
    background-color: gray;
    height: 300px;
    animation-name: headSlider;
    background-image: url(slidePics/pic0.jpg);
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    background-size: 100%;
    background-repeat: no-repeat;
}
@keyframes headSlider{
    0%{
        background-image: url(slidePics/pic0.jpg);
    }
    25%{
        background-image: url(slidePics/pic1.jpg);
    }
    50%{
        background-image: url(slidePics/pic2.jpg);
    }
    75%{
        background-image: url(slidePics/pic3.jpg);
    }
    100%{
        background-image: url(slidePics/pic0.jpg);
    }
}
header .container{
    width: 100%;
    height: 100%;
    position: absolute;
}
header .container #header-1{
    width: 100%;
    height: 55px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all .6s;
    position: fixed;
    background-color: aliceblue;
    top: 0px;
    /* box-shadow: 10px 5px 5px #173459; */
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}

header .container #header-1 .name{
    margin-left: -12px;
}
header .container #header-1 .name img {
    margin-top: 15px;
    width: 110px;
}
/*.....Menue.......*/
header .container #header-1 .menue{
    width: 8%;
    height: 30px;
    margin-right: 10px;
    position: sticky;
    transition: all .6s;
}
header .container #header-1 .menue nav{
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
    transition: all 1s;
}
header .container #header-1 .menue nav a{
    display: block;
    padding: 10px;
    background: aliceblue;
    text-decoration: none;
    font-size: 14px;
    color: rgb(0, 18, 12);
    text-transform: uppercase;
}
header .container #header-1 .menue nav a:hover {
    background-color: rgb(0, 39, 26);
    color: whitesmoke;
}
header .container #header-1 .menue .slashes {
    width: 100%;
    height: 30px;
    border: 1px solid;
    margin: 0 auto;
    margin-right: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
header .container #header-1 .menue .slashes .slash{
    width: 90%;
    border: 3px solid;
    margin-top: 5px;
    transition: all .6s;
    border-radius: .5em;
}
header .container #header-1 .menue .slashes #slash1{
    border-color: rgb(0, 18, 12);
    /* transform: rotate(-45deg); */
     position: relative;
    /* top: 5px; */ 
}
header .container #header-1 .menue .slashes #slash2{
    border-color: rgb(255, 174, 0);
    /* transform: rotate(45deg); */
    position: relative;
    /* bottom: 5px; */ 
}

header .container #header-2{
    width: 100%;
    height: auto;
    margin-top: 70px;
    transition: all .6s;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
}
header .container #header-2 p{
    width:  auto;
    margin-left: 8%;
    font-size: 25px;
    /* position: absolute;
    top: 120px; */
    color: rgb(255, 174, 0);
    display: none;
}
header .container #header-2 h3{
    width:  auto;
    margin-left: 6%;
    /* margin-top: 10%; */
    /* box-shadow: 10px 5px 5px #173459; */
    font-size: 35px;
    color: whitesmoke;
}


header .container #header-2 a{
    position: relative;
    left: 80%;
}
header .container #header-2 a button {
    padding: 8px;
    color: rgb(235, 204, 139);
    border: none;
    outline: none;
    border-radius: .5em;
    background-color: rgb(0, 18, 12);
}
header .container #header-2 a button:hover{
    background-color: rgb(0, 61, 42);
    color: whitesmoke;
    cursor: pointer;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>>>>>MAIN SECTION>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
main{
    width: 100%;
    height: auto;
    /* background-color: rgb(22, 48, 61); */
    background-image: linear-gradient(rgb(250, 248, 230), rgb(242, 234, 167), rgb(181, 187, 105));
}
main .wrap {
    width: 100%;
    height: auto;
    color: rgb(0, 18, 12);
}
main .wrap .intro{
    width: 100%;
    animation: introAppear .7s linear;
}
@keyframes introAppear {
    from {
        opacity: .5;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
main .wrap .intro h3{
    margin-left: 2%;
    color: rgba(199, 84, 161, 0.781);
    /* color: rgb(168, 137, 2); */

}
main .wrap .intro p{
    margin-left: 2%;
    color: rgb(0, 34, 23);
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

main .wrap .focus{
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20);
    color:  rgb(168, 137, 2);
    width: 100%;
}
@keyframes focusTextAppear {
    from {
        opacity: 0;
        scale: 0;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}
main .wrap .focus .img{
    width: 95%;
    height: 250px;
    margin: 0 auto;
    border-radius: .3em;
    border: 1px none;
    display: flex;
    background-image: url(slidePics/pic0.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content:flex-end;
    align-items: end;
}
main .wrap .focus .img a{
    margin: 10px;
}
main .wrap .focus .img a button{
    background-color: rgb(0, 34, 23);
    color: rgb(235, 204, 139);
    cursor: pointer;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: .4em;
}
main .wrap .focus .img a button:hover{
    cursor: pointer;
    background-color: rgb(0, 61, 42);
    color: whitesmoke;
}
main .wrap .focus h4{
    text-align: center;
    font-size: 30px;
    position: relative;
    top: 15px;
}
main .wrap .focus h3{
    margin-left: 2%;
    color: rgb(5, 36, 56);
    font-size:22px;
}
main .wrap .focus p{
    margin-left: 2%;
    margin-right: 2%;
    text-align: left;
    color: rgb(0, 18, 12);
    animation: focusTextAppear linear;
    animation-timeline: view();
    animation-range: 0 cover 35%;
}

main .wrap .explore{
    width:  100%;
}
main .wrap .explore h3 {
    text-align: center;
    font-size: 30px;
    color:  rgb(168, 137, 2);
}

main .wrap .explore .img{
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px none;
}
main .wrap .explore .img p{
    margin-left: 2%;
    margin-right: 2%;
    color: rgb(0, 18, 12);
    animation: focusTextAppear linear;
    animation-timeline: view();
    animation-range: 0 cover 35%;
}
main .wrap .explore .img a{
    padding: 8px;
    margin: 5px;
    border-radius: .5em;
    font-weight: bolder;
    transition: all .3s;
    border: .5px groove rgb(0, 18, 12);
    text-decoration: none;
    color: rgb(0, 18, 12);
}
main .wrap .explore .img a:hover{
    cursor: pointer;
    background-color: rgb(0, 18, 12);
    color: rgb(235, 204, 139);

}

main .wrap .updates{
    width: 100%;
}
main .wrap .updates .img {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px none;
}


main .wrap .sponsers{
    width: 100%;
    height: auto;
    border: 1px none;
    display:none;
}
main .wrap .sponsers h3{
    margin-left: 2%;
    text-align: larger;
    color: rgb(0, 87, 216);
}
main .wrap .sponsers .componies{
    width: 100%;
    display: flex;
    flex-direction: row;
}
main .wrap .sponsers .componies #comp{
    width: 25%;
    height: 100px;
    border-radius: .5em;
    border: 2px solid;
    margin: 5px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: rgb(0, 18, 12);
    box-shadow: 10px 5px 5px #173459;
    /* box-shadow: 10px 5px 5px 3px #173459; */
    /* box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3), 0 7px 21px 0 rgba(0, 0, 0, 0.20); */
}
main .wrap .sponsers .componies #comp span{
    background-color: navy;
    text-align: center;
    font-size: 10px;
    width: 50%;
}
main .wrap .sponsers .componies .company_1{
    background-image: url(slidePics/pic0.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
main .wrap .sponsers .componies .company_2{
    background-image: url(slidePics/pic0.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
main .wrap .sponsers .componies .company_3{
    background-image: url(slidePics/pic0.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
main .wrap .sponsers .componies .company_4{
    background-image: url(slidePics/pic0.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}

/*>>>>>>>>>>>>>>>>>>>>>>>>>FOOTER SECTION >>>>>>>>>>>>>>>>>>>>>>>>*/
footer{
    width: 100%;
    background-color: rgb(0, 18, 12);
    color: rgb(235, 204, 139);
}
footer .Fcontent {
    width:  100%;
}
footer .Fcontent .FooterContent{
    /* border: 2px solid aqua; */
}
footer .Fcontent .FooterContent h4 {
    text-align: left;
    margin-left: 5%;
    font-size: 20px;
    border: 2px solid none;
}
footer .Fcontent .FooterContent p {
    margin-left: 5%;
}
footer .Fcontent .FooterContent nav a{
    display: block;
    margin-left: 5%;
    width:40%;
    margin-top: 5%;
}
footer .Fcontent .FooterContent nav a:hover{
    background: navy;
}
footer .Fcontent .FooterContent nav a img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    /* border: 1px solid aqua; */
}
footer .Fcontent .FooterContent  .communicate p {
    text-align: left;
    background:none;
    width: 50%;
    padding: 10px;
    border-radius: .15em;
}
footer .Fcontent .FooterContent  .communicate p:hover {
    background-color: rgb(235, 204, 139);
    color: rgb(0, 18, 12);
}
footer .Fcontent .FooterContent  .communicate nav {
  display: flex;
  justify-content: center;
  align-content: center;
}
footer .Fcontent .FooterContent  .communicate nav a {
  width: 40px;
  height: 40px;
  margin: 20px;
}
footer .Fcontent .FooterContent .nav a{
    display: block;
    margin-left: 5%;
    width:40%;
    padding: 5px;
    text-decoration: none;
    background-color: none;
    margin-top: 2%;
    color: rgb(235, 204, 139);
    cursor: pointer;
    border-radius: .2em;
    transition: all .1s;
}
footer .Fcontent .FooterContent .nav a:hover{
    color: rgb(0, 18, 12);
    background-color: rgb(235, 204, 139);
    cursor: pointer;
}
footer b i {
  color: rgb(0, 18, 12);
  position: relative;
  top: 30px;
}
}